.content{
    padding-top: 50px;
    margin: 0 5% 0 5%;
    width:90%;
    overflow-x: hidden;
}

.mainhead{
    font-size: 40px;
}

.maintext-up{
    animation-name: slideUp;
    animation-duration: 1s;
}

.maintext-leftin{
    animation-name:leftIn;
    animation-duration: 0.25s;
}

.maintext-leftout{
    animation-name:leftOut;
    animation-duration: 0.25s;
}

.maintext-rightin{
    animation-name:rightIn;
    animation-duration: 0.25s;
}

.maintext-rightout{
    animation-name:rightOut;
    animation-duration: 0.25s;
}

.reply-up{
    animation-name: slideUp;
    animation-duration: 0.5s;
}

.reply-form{
    width: calc(100% - 14px);
    height: 70px;
    border : 1px #c9c9c9 solid;
    border-radius: 10px;
    transition: all;
    transition-duration: 1s;
}

.reply-form:focus{
    outline: none;
}

.reply-submit{
    color : #000000;
    background-color: #f7d3ba;
    border: none; 
    border-radius: 10px;
    transition: all;
    transition-duration: 1s;
}

.reply-submit:hover{
    background-color: #fdb683;
    outline: none;
}

.reply-submit:focus{
    outline: none;
}