/* SCROLL */
::-webkit-scrollbar { width: 5px; }
/* 스크롤바의 width */
::-webkit-scrollbar-track { background-color :#f0f0f0; }
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb { 
    background: linear-gradient(to bottom, #a1a1a1, #a1a1a1); 
}
/* 스크롤바 색 */
::-webkit-scrollbar-button { display: none; }
/* 위 아래 버튼 (버튼 없애기를 함) */

@keyframes slideUp{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes sizeUp{
  from{
    transform:scale(1);
  }
  to{
    transform:scale(10);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  50%{
    transform: scale(1.5) rotate(0deg);
  }
  to {
    transform: scale(1)rotate(0deg);
  }
}

@keyframes leftIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes leftOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes rightIn {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rightOut {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
*/